@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";
@import "~bootstrap-scss/mixins/breakpoints";
@import "../../global-styles/Constants";

$border-color: $gray-500;

.wrapper {
	border-bottom: 1px solid $border-color;
	display: flex;

	.btn {
		cursor: pointer;
		flex-grow: 0;
		padding: $spacer;

		&.disabled {
			cursor: not-allowed !important;
			opacity: .4;
		}
	}

	.display {
		flex-grow: 1;
		padding: $spacer;
		text-align: center;
	}
}
