{
	"all": true,
	"watermarks": {
		"lines": [70, 90],
		"functions": [70, 90],
		"branches": [70, 90],
		"statements": [70, 90]
	},
	"exclude": [
		"// don't check coverage of type declarations",
		"**/*.d.ts",

		"// don't check coverage of config files",
		"webpack.config.js",

		"// don't check coverage of test init scripts or the tests themselves",
		"src/test-utils/*",
		"**/*.tests.*",

		"// don't check coverage of test outputs",
		".nyc_output/",
		"coverage/",

		"// client tests run against the actual source, so don't check coverage of the compiled code",
		"build/client"
	],
	"reporter": [
		"html",
		"lcov",
		"text",
		"text-summary"
	]
}
