@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";
@import "~bootstrap-scss/mixins/breakpoints";
@import "../../global-styles/Constants";

$bg-colour: #1976d2;
$border-colour: #004ba0;
$icon-colour: #ffffff;

.nav {
	background-color: $bg-colour;
	border-bottom: 1px solid $border-colour;
	display: flex;

	.nav-item {
		border-right: 1px solid $border-colour;
		display: block;
		flex-basis: 0;
		flex-grow: 1;
		text-align: center;
		padding: $spacer * 0.5;

		&:last-of-type {
			border-right: none;
		}

		svg {
			color: $icon-colour;
		}
	}
}
